{% extends 'company_base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'prodly.form.tag.submit'|trans({}, 'form') }}" formnovalidate />
    </div>
    {{ form_end(form) }}

{% endblock %}